# Dependencias del proyecto
pytest==7.3.1        # Para pruebas unitarias
pytest-mock==3.10.0  # Para facilitar el uso de mocks en pruebas
requests==2.28.1     # Para futuras expansiones como la búsqueda de vulnerabilidades por API
netifaces==0.11.0    # Para obtener información de la interfaz de red
tqdm==4.64.1         # Para la barra de progreso durante el escaneo
unittest2==1.1.0     # Para pruebas unitarias (aunque unittest viene con Python, unittest2 es una extensión)
